<div class="container-fluid col-md-offset-1 col-md-10" >
    <div class="vertical kasen">
        <p class="kishu">平成●●年●月●●日起首</p>
        <div class="omote">    
            発句　　ああああああああああああああああああああああ（作品）　　（作者の名前）<br />
            脇　　　　いいいいいいいいいいいい（作品）　　（作者の名前）<br />
            三　　　ああああああああああああああああああああああ（作品）　　（作者の名前）<br />
            四　　　　いいいいいいいいいいいい（作品）　　（作者の名前）<br />
            月　　　ああああああああああああああああああああああ（作品）　　（作者の名前）<br />
            折端　　　いいいいいいいいいいいい（作品）　　（作者の名前）<br />
        </div>   
    </div>    
</div>    

<div class="container-fluid col-md-offset-1 col-md-10" >
    <div class="vertical kasen">
        <div class="ura">    
            折立　　ああああああああああああああああああああああ（作品）　　（作者の名前）<br />
            <span class="koi">二</span>　　　　いいいいいいいいいいいい（作品）　　（作者の名前）<br />
            <span class="koi">三</span>　　　ああああああああああああああああああああああ（作品）　　（作者の名前）<br />
            <span class="koi">四</span>　　　　いいいいいいいいいいいい（作品）　　（作者の名前）<br />
            五　　　ああああああああああああああああああああああ（作品）　　（作者の名前）<br />
            六　　　　いいいいいいいいいいいい（作品）　　（作者の名前）<br />
            七　　　ああああああああああああああああああああああ（作品）　　（作者の名前）<br />
            八　　　　いいいいいいいいいいいい（作品）　　（作者の名前）<br />
            九　　　ああああああああああああああああああああああ（作品）　　（作者の名前）<br />
            十　　　　いいいいいいいいいいいい（作品）　　（作者の名前）<br />
            花　　　ああああああああああああああああああああああ（作品）　　（作者の名前）<br />
            挙句　　　いいいいいいいいいいいい（作品）　　（作者の名前）<br />
        </div>   
        <p class="kishu">平成●●年●月●●日満尾</p>
    </div>    
</div>    