<div class="container-fluid col-md-offset-1 col-md-10" >

<%= page_entries_info @users %>    
    
<table class="table table-condensed">
    

    
<tr><th>ID</th><th>名前</th><th>学年</th><th>属性</th><th>最終ログイン</th></tr>
<%= render @users %>
</table>

<%= paginate @users %>

</div>