<% if user_signed_in? %>

<h2><%= current_user.name %>さん、ようこそ</h2>

<div class="container-fluid col-md-offset-1 col-md-10"  style="height:600px; overflow:auto;">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-md-6">題</th>
      <th class="col-md-3">状態</th>
      <th class="col-md-3">締切</th>
      <th></th>
  </thead>

  <tbody>

	<%= render @dais %>

  </tbody>
</table>
</div>

<% else %>

<h1>KAKAI</h1>

<p>KAKAIは、オンラインで歌会をひらくためのサイトです。</p>

<% end %>