<div class="container-fluid col-md-offset-2 col-md-8" >

<%= "全#{@kogyos.count}件" %>

    <%= paginate @kogyos %>
    
<table class="table table-condensed">
    <tr><th>発句</th><th>起首</th><th>満尾</th></tr>
    <%= render @kogyos %>
</table>

</div>