<!--<div class="col-md-8 col-md-offset-2">-->
    <%#= link_to dai.title, dai %> <%#= dai.due.to_s(:wa) %>
<!--</div>-->

    <%# if judge_target(dai) %>
    <% if true %>

        <% dai.fase_check! %>

      <tr>
        <td><%= link_to dai.title, dai %>
        <span class="badge pull-right"><%= Tanka.where(dai_id: dai.id).count %></span></td>
        <td>
            <% case dai.fase %>
            <% when 1 %>
              投稿受付中
            <% when 2 %>
                <% if dai.selecting %>
                    撰歌中
                <% else %>
                    投票受付中
                <% end %>
            <% else %>
              投票終了
            <% end %>
        </td>
        <td>
        <% if dai.fase == 1 and dai.due.present? %>
            <%= dai.due.to_s(:wa) %>
        <% elsif dai.fase == 2 and dai.v_due.present? %>    
            <%= dai.v_due.to_s(:wa) %>
        <% else %>
            ----------
        <% end %>
        </td>
      </tr>
 
     <% end %>