<div class="container-fluid col-md-offset-1 col-md-10"  style="height:600px; overflow:auto;">
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-md-1"></th>
      <th class="col-md-5">題</th>
      <th class="col-md-2">状態</th>
      <th class="col-md-4">締切</th>
      <th></th>
  </thead>

  <tbody>

	<%= render @dais %>

  </tbody>
</table>
</div>