/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #deeece;
  font-size: 14px;
}

.dropdown:hover .dropdown-menu {
        display: block;
    }

.notices_list {
  
  width: 400px;
  font-size: 0.8em;
  
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.vertical{
    // background-color: #dddddd;
    font-size: 1em;
    line-height: 1.8em;
    position: relative;
    overflow: auto;
    height: 500px;
    //float: left;
    writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}

select[disabled]{
    background:#DCDCDC;
    color: #DCDCDC;
}

table, td, th {
background-color: #e4ece6;
// border: 2px #222222 solid;
}

table.table-condensed td {
   border-width: 1px 0px; /* 上下だけ引く */
   border-color: #888;
}

div.last-row label {
  vertical-align: top;
}

.rewarded {
  margin: 0px 10% 30px;
  padding: 20px 10px 10px 10px;
  background-color: #fff1cf;
  width: 750px;
  margin: 0 auto;  
}

.tatenaka{
text-combine: horizontal; 
-webkit-text-combine: horizontal;
}

.onetanka{
  font-size: 1.3em;  
  background-color: #c1d8ac;
  padding: 10px 10px 10px 10px;
  margin: 8px 0% 10px;
  height: 660px;
}

.issen{
  background-color: #c1d8ac;
  margin-top: 10px;
  margin-bottom: 10px;
}

hr.style-one {
  height: 1px;
  background-color: #888;
  border: none;
  //color: #0000ff;
}

.review{
  background-color: #c1d8ac;
}

.panel {
  width: 750px;
	margin: 0 auto;
}

.comment_role{
  overflow: auto;
  height: 600px;
}

.inst{
  font-size: 0.9em;  
  background-color: #f3f3f3;
  padding: 10px 10px 10px 10px;
  border-radius: 5px; 
}