// Place all the styles related to the dais controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#vote_inst{
  font-size: 1.1em;  
  background-color: #f3f3f3;
  padding: 10px 10px 10px 10px;
}