// Place all the styles related to the rengas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.kasen {
  background-color: #fffff0;
  line-height: 5;
  padding-top: 20px;  
  padding-bottom: 20px;
  padding-right: 20px; 
  padding-left: 30px; 
  margin-top: 20px;  
  margin-bottom: 20px;
  height: 600px;
}

.omote {
  padding-right: 400px;
  padding-left: 120px;
}

.ura {
  padding-right: 10px;  
  padding-left: 90px;
}

.kishu{
  font-size: 1.3em;
}

.koi{
  color:  #f0908d;
}